.gsc-url-top,.gs-bidi-start-align, .gs-visibleUrl ,.gs-visibleUrl-breadcrumb .gsc-table-result *{
 display: none;
}

.gsc-table-cell-thumbnail .gsc-thumbnail{
    display: block;
}

.ddd-none{
    display: none;
}

.gsc-search-button ,.gsc-search-button-v2, #btnn{
    background-color: blue;
    color: aqua;
}
