body {
  margin: 0;
}

#___gcse_0 {
  /* margin-top: 30px; */
  margin-top: -61px;
  border: unset;
 }

#___gcse_0 *{
 /* background-color: rgba(177, 177, 177, 0); */

}

#___gcse_0 input{
  background: unset !important;
  direction: rtl;
 }

.gsc-control-cse, .gsc-control-cse-en{    
   max-width: 432px !important;
   visibility: hidden;
}

@media (max-width: 600px){
  .gsc-control-cse, .gsc-control-cse-en {
      width: 95%;
  }
}

.gsc-results-wrapper-visible{
  /* max-height: 400px; */
  /* overflow-y: scroll;
  overflow-x: hidden; */
 }

.gsc-url-top,.gs-bidi-start-align, .gs-visibleUrl ,.gs-visibleUrl-breadcrumb .gsc-table-result *{
  display: none;
 }
 
 .gsc-table-cell-thumbnail .gsc-thumbnail{
     display: block;
 }

 .gs-title::last-word {
   display: none;
 }

 .gcsc-more-maybe-branding-root{
   display: none;
 }

 .gsc-adBlock, .gsc-above-wrapper-area{
   display: none !important;
 }
